#banner{
    width:800px
}
#content{
     width:600px;
     height:400px;
     background-color:bisque;
     float:left
}
#nav{
     width:100px
     clear:both
}
#supporting{
     width:100px
}
#footer{
     width:800px
}